.img-main {
  width: 50%;
  border: 1px solid green;
  box-sizing: border-box;
}

.main-icon {
  width: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: gray;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: darkblue;
  font-size: 3rem;
}

.footer {
  display: flex;
  background-color: gray;
  justify-content: space-evenly;
  padding: 2rem 10rem;
}

.img-main {
  width: 20vw;
  opacity: 50%;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main h1 {
  box-sizing: padding-box;
  padding-top: 2rem;
  text-align: center;
}

main h1::after {
  content: "";
  padding-top: 2rem;
}

main .img-container {
  display: flex;
  justify-content: center;
}

main .img-container img {
  opacity: 50%;
}

.nav-menu {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-items {
  display: flex;
  list-style-type: none;
  padding-right: 10rem;
}

.nav-menu li {
  padding-left: 5rem;
}

.nav-menu > a {
  margin-left: 4rem;
}

.nav-menu a:hover {
  cursor: pointer;
  background-color: olive;
}
