/* all document */
body {
  background-color: cadetblue;
  padding: 1rem;
}

/* title */
.main-title {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  color: darkred;
}


/* section introduction */
#introduction {
  color: brown;
}

/* #introduction h1 { */
article h1 {
  font-size: 2rem;
}

article {
  margin: 3rem 0;
}

.inside-section {
  margin: 0 1rem;
}

.inside-section a:link {
  color: green;
}

.inside-section a:visited {
  color: red;
}

.inside-section a:focus {
  color: blue;
}

.inside-section a:hover {
  color: rgb(219, 204, 204);
  background-color: gray;
  /* text-decoration: none;  */  /* this line removes the underline on links*/
}

.inside-section a:active {
  color: black;
}

.left-space {
  margin-left: 2rem;
}

.h3-subtitle {
  margin-top: 1rem;
}

.inside-section .a-btn {
  padding: 0.5rem;
  background: rgb(47, 48, 97);
  border-radius: 4px;
}

.inside-section .a-btn:hover {
  background: rgba(47, 48, 97, 50%);
  cursor: pointer;
}


pre {
  background-color: #ddd;
  border: 1px solid #999;
  display: block;
  /* padding: 5px; */
  margin: 0;
}

code {
  background-color: #ddd;
  border: 1px solid #999;
  display: block;
  /* padding: 5px; */
  margin: 0;
}

.examples {
  font-size: larger;
  font-weight: bolder;
  text-decoration: underline;
  margin: 2rem 0 1rem;
}

.nesting-items {
  font-weight: bold;
  color: blue;
}

/* descendent selector CSS */
.descendent-selector p {
  margin: 0;
  background-color: blue;
  color: darkred;
}
.extra-space {
  margin-left: 5rem;
}

/* child selector CSS */
div > .span-temp {
  color: gold;
  background-color: indigo;
}

/* Adjacent sibling selector */
div + .p-class {
  background-color: sandybrown;
  text-align: center;
}

/* General sibling selector */
div ~ .m1, .m2 {
  text-align: right;
  color: aquamarine;
  background-color: gray;
}


/* picture settings */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 260px;
}

code {
  background-color: lightyellow;
}

div.ex1 {
  color: white;
}

.ex2 {
  background-color: black;
}

.top-margin {
  margin-top: 2rem;
}

.my-flexbox-parent {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  width: 500px;
}
.my-flexbox-child1 {
  /* border: 1px solid black; */
  flex: 1 1 40%;
}
.my-flexbox-child2 {
  /* border: 1px solid black; */
  flex: 1 1 100px;
  text-align: center;
}

.flex-picture-container {
  display: flex;
  border: 1px solid seagreen;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}
.flex-picture-item {
  flex: 1;
}
.flex-picture-pic {
  flex: 4;
  /* min-width: 400px;
  max-width: 95%; */
}

.flexbox-guide-c {
  display: flex;
  border: 1px solid yellow;
  cursor: pointer;
}
.flexbox-guide-i {
  flex: 1;
  border: 1px solid tomato;
  text-align: center;
  text-decoration: underline;
  color: blue;
}

.fg-container {
  display: flex;
  align-items: stretch;
  /* align-content: center; */
  /* background-color: blue; */
}
.fg-item1 {
  flex: 1 1;
  /* border: 1px solid black; */
  /* background-color: green; */
}
.fg-item2 {
  display: flex;
  flex: 1 1 200px;
  border: 1px solid black;
  background-color: tomato;
  padding: 0 1rem;
  text-align: center;
  align-items: center
}

.flex-grid-span-properties {
  background-color: wheat;
  /* font-weight: bolder; */
  /* font-style: italic; */
  font-family: monospace, Verdana, sans-serif;
  font-style: 1em;
  /* padding: 0.5em; */
  border: 3px wheat solid;
}
.flex-grid-li-properties {
  margin: 1em 0;
  list-style-type: decimal-leading-zero;
}

.img-units {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 350px;
  max-width: 700px;
}

.box-text-parent {
  display: flex;
  justify-content: center;
}
.box-text {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgb(194, 197, 26);
  padding: 2rem;
}
.box-text:after {
  content: "this is a div with text coming from CSS";
}